

/*CONFIGURAÇÕES GERAIS (all)*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color1: white;
    --color2: black;
    --bg-color: white;
    --bg-color2: rgba(226, 226, 226, 0.76);
    --bg-color3: #50b6ff ;
    --cor-primaria: #0077cc;    /*#0077cc*/
    --cor-secundaria: #50b6ff;     /*#50b6ff*/
    --sombra: rgba(0, 0, 0, 0.26);
    --cor-tercearia : #002f50e3;
    --white-t: white;
}

.dark{
    --color1: black;
    --color2: rgb(236, 236, 236);
    --bg-color: black;
    --bg-color2: rgba(100, 100, 100, 0.849);
    --bg-color3: #610061;
    --cor-primaria: #610061;    /*#004C81*/
    --cor-secundaria: #9e009e;     /*#50b6ff*/
    --sombra: rgba(0, 0, 0, 0.452);
    --cor-tercearia : rgb(231, 0, 231);
    --white-t: rgb(236, 236, 236);
}

html,body{
    width: 100%;
    min-height: 100%;

    scroll-snap-type: y mandatory;  
    scroll-padding-top: 6vh;

    background-color: var(--bg-color);
}

/* ------- PARTE DA ENTRADA : FOTO E INFORMAÇÃO DE NOME E FUNÇÃO -------*/
header{
    min-height: 90svh;  /* 866px de altura, no maximo*/
    max-height: 90dvh;

    margin-bottom: 8vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color);

    scroll-snap-align: start;
}
.header_hero{
    width: 100%;    /*43px na media de altura*/    /*823*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: var(--cor-primaria);
}
.header_hero span{
    color: var(--white-t);
} 
#btn_tema{
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
    border: 2px solid var(--white-t) ;
    overflow: hidden;
}
#sol{
    padding: 3px 5px;
    color: var(--white-t);

    font-size: 1.3em;
    opacity: 1;
}
#lua{
    padding: 3px 5px;
    color: var(--white-t);

    font-size: 1.1em;
    opacity: 0.4;
}
.info_hero{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px 2px 2px 2px;

    flex: 1;
}
#foto_hero{
    width: 60%;
    min-height: 50vh;
}
.nome_hero {
    width: 90%;
    text-align: center;
    padding: 2px;
}
.nome_hero h1 {
    font-weight: lighter;
    font-size: 2em;
    padding-bottom: 10px;
    color: var(--color2);
}
.nome_hero h2 {
    font-size: 1.7em;
    color: var(--cor-secundaria);
}



nav{
    position: fixed;
    width: 100%;
    z-index: 500;

    min-height: 6vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background-color: var(--cor-primaria);
    color: var(--white-t);

    font-weight: bold;

}
nav > div{
    border-radius: 10px;
    padding: 8px 5px;
}
nav > div.ativo{
    background-color: var(--cor-secundaria);
    cursor: pointer;
}
nav.top{
    top: 0;
    bottom: none;
}
nav.bottom{
    top: none;
    bottom: 0;
}


/* ------- PARTE DO CONTEUDO: NAVEGAÇÃO PELA PAGINA E PROJETOS --------*/

main{
    width: 100%;
    background-color: var(--bg-color);
}

/* PERFIL */

#perfil{
    min-height: 95dvh;              /*tamanho maximo 860px*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    margin-bottom: 50px;
    padding: 25px 0px 10px 0px;

    scroll-snap-align: start;

    color: var(--color2);

    background-color: var(--bg-color);
}
#perfil > h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.descricao_perfil{
    width: 90%;
    border: 3px solid var(--cor-primaria);
    border-radius: 13px;

    display: flex;
    flex-flow: column nowrap;

    flex: 1;
    margin-bottom: 10px;

    background-color: var(--bg-color2);
}
.descricao_texto{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    padding: 10px;

    text-align: justify;
}
.descricao_texto > h3 {
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}
.descricao_texto > p {
    margin-bottom: 10px;
}
.descricao_img{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* SKILLS E TOOLS*/

#skills_tools{
    min-height: 95dvh;              /*tamanho maximo 860px*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
    margin-bottom: 50px;
    padding: 25px 0px 10px 0px;

    scroll-snap-align: start;

    color: var(--color2);

    background-color: var(--bg-color);
    overflow: hidden;         /* esconde os skills_cards que não estão na tela*/
}
#skills_tools > h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}
#skills_tools > p{
    text-align: center;
    margin-bottom: 15px;
}
.skills_carousel{
    width: 400%;              /* 100% para cada skills_card que voce tiver*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    flex: 1;

    border-top: 3px solid var(--color2);
    border-bottom: 3px solid var(--color2);
}
.skills_card {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 10px;
}
.skills_card.web{
    background-color: rgba(185, 0, 0, 0.918);
}
.skills_card.app{
    background-color: rgba(0, 165, 0, 0.925);
}
.skills_card.api{
    background-color: #ffe101ea;
}
.skills_card.art{
    background-color: #a76900e5;
}
.skills_card_titulo{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
}
.skills_seta{
    color: var(--white-t);
} 
.skills_seta.oculta{
    opacity: 0;
}
.skills_card_titulo > h3{
    font-size: 2em;
    color: var(--white-t);
    text-shadow: 1px 1px 2px var(--sombra);
}
.skills_card p {
    text-align: center;
    margin: 5px 0px;
    flex: 1;
}

.skills_icons_container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 5px 0px;

    flex: 4;
}
.skills_fieldset{
    width: 100%;
    padding: 10px 0px 7px 0px;
    border-radius: 30px;
    background-color: var(--bg-color);
    border: 4px solid var(--color2);
}
.skills_fieldset legend{
    text-align: center;
    padding: 1px 8px;
    font-weight: bold;

    border-radius: 4px;
    color: var(--color1);

    background-color: var(--color2);
}
.skills_icons{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.skills_icons > img{
    height: 6vh;
    padding: 0px 15px;
    margin-bottom: 7px ;
}

.skills_bolinhas_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px 0px;

}
.bolinhas_skill{
    width: 10px;
    height: 10px;
    border-radius: 50%;

    border: 1px solid var(--cor-primaria);
    background-color: var(--color1);

    box-shadow: 1px 1px 1px var(--sombra);
    margin: 0px 7px;
}
.bolinhas_skill.ativo{
    background-color: var(--cor-secundaria);
}



/* PROJETOS */

#projetos{
    min-height: 95dvh;              /*tamanho maximo 860px*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    margin-bottom: 50px;
    padding: 25px 0px 10px 0px;

    scroll-snap-align: start;

    color: var(--color2);

    background-color: var(--bg-color);
    overflow: hidden;       /* esconde os .lista_projetos que não estão na tela*/
}
#projetos > h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}
#btn_filtros{
    width: 70%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    font-size: 1em;

    padding: 5px 0px;
    margin-bottom: 10px;

    background-color: var(--color1);
    border: 3px solid var(--cor-primaria);
    border-radius: 10px;
    cursor: pointer;
    color: var(--color2);
}
#btn_filtros > i {
    padding-left: 10px;
    font-size: 1.2em;
}
.card_filtros {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    z-index: 1000;               /*faz com que ele fique na frente até dos elementos definidos como absolute, por ter um z maior*/

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.container_filtros {
    background-color: var(--cor-primaria);

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding: 10px;
    border-radius: 15px;
    transform: translateX(-7px);               /*não sei pq mas ta torto para a direita, então puxei 7px para a esquerda*/
}
.card_filtros_header{
    width: 100%;
    position: relative;
    text-align: center;

    padding: 10px 0px 15px 0px;
}
.card_filtros_header > button{
    position: absolute;
    top: 12px;
    right: 15px;
}
.card_filtros_descricao{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 7px 2px;

    background-color: var(--white-t);
    color: black;
}
.card_filtros_descricao > p:first-child{
    width: 100%;
    margin-bottom: 7px;
}
.card_filtros_descricao > p {
    text-align: center;
}
.card_filtros_descricao span {
    color: var(--cor-secundaria);
}
.grupo_filtro{
    width: 100%;
    padding: 20px 0px 30px 0px;

    margin-top: 5px;

    background-color: var(--white-t);
    color: black;
}
.grupo_filtro > h4{
    text-align: center;
    padding-bottom: 20px ;
}
.grupo_filtros_interno{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px 7px;
}
.grupo_filtros_interno > input {
    margin: 25px;
}
.btn_filtro_aplicar{
    width: 50%;
    padding: 7px;
    margin: 17px 0px 7px 0px;

    border: 0px;
    border-radius: 5px;

    cursor: pointer;
    color: black;
    background-color: var(--white-t);
}
.btn_filtro_aplicar:hover{

    background-color: var(--cor-tercearia);
    color: rgb(236, 236, 236);
}


.container_projetos{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-color3);

    flex: 1;
    overflow: hidden;

    border-top: 3px solid var(--color2);
    border-bottom: 3px solid var(--color2);
}
.filtros_usados{
    display: none;                     /*deixe um tempo depois faça sumir*/
    height: 0px;
    background-color: var(--cor-secundaria);
    padding: 2px 0px 2px 6px;
    color: black;
}
.filtros_usados.ativo {
    display: block;
    height: auto;
}
.carousel_projetos{
    width: 200%;                   /* responsavel pelo espaçamento para a rolagem das divs .lista_projetos */
    display: flex;
    flex-flow: row nowrap;

    flex: 1;
}
.lista_projetos{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 7px;
}
.card_projeto{
    width: 90%;   /*450px*/
    min-height: 33vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 20px;

    padding: 7px;
    margin-bottom: 7px;

    border: 3px solid var(--color2);
}
.card_projeto.web{
    background-color: rgba(185, 0, 0, 0.918);
}
.card_projeto.app{
    background-color: rgba(0, 165, 0, 0.925);
}
.card_projeto.api{
    background-color: #ffe101ea;
}
.card_projeto.art{
    background-color: #a76900e5;
}
.card_titulo{
    width: 100%;
    position: relative;
}
.card_titulo >h3{
    width: 100%;
    text-align: center;
    padding: 0px 35px 4px 35px;
    text-shadow: 1px 1px 2px var(--sombra);
    color: var(--white-t);
}
.card_titulo >img {
    position: absolute;
    height: 30px;
    padding: 0px 0px 8px 20px;
}
.card_imagem{
    position: relative;
    width: 100%;       /* 435px mais ou menos */
    max-height: 110px;
    flex: 2;
    overflow: hidden;
    background-color: var(--bg-color);
}
.card_imagem > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.card_btn{
    position: absolute;
    top: 0px;
    right: 2px;

    display: flex;
    flex-flow: column nowrap;
    align-items: end;

}
.card_btn_y{
    display: inline-flex;
    align-items: center;

    margin-top: 5px;
    padding: 2px 2px 2px 5px;

    text-decoration: none;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    cursor: pointer;
}
.card_btn_y > img {
    height: 25px;
    margin-left: 3px;
    /*height: clamp(5px, 8px, 20px);*/
}
.card_btn_i{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.658);

    margin-top: 5px;
    cursor: pointer;
}
.card_descricao{
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    text-align: justify;
    text-indent: 5px;

    padding: 7px 5px;

    background-color: var(--bg-color);
}
.card_descricao > p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_tolls{
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background-color: var(--bg-color);

    padding: 5px;
    margin-top: 4px;
}
.card_tolls > span {
    text-decoration: underline;
}
.projeto_bolinhas_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px 0px;
}
.bolinhas_projeto{
    width: 10px;
    height: 10px;
    border-radius: 50%;

    border: 1px solid var(--cor-primaria);
    background-color: var(--color1);

    box-shadow: 1px 1px 1px var(--sombra);
    margin: 0px 7px;
}
.bolinhas_projeto.ativo{
    background-color: var(--cor-secundaria);
}



.info_projeto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    z-index: 1000;               /*faz com que ele fique na frente até dos elementos definidos como absolute, por ter um z maior*/

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.info_modal{
    width: 85%;
    background-color: var(--cor-primaria);

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding: 10px;
    border-radius: 15px;
    transform: translateX(-7px); 
}
.info_modal > h2{
    width: 100%;
    text-align: center;
    padding: 15px 10px 15px 10px;

    border-radius: 10px 10px 0px 0px ;
    margin-bottom: 5px;

    background-color: var(--white-t);
    color: var(--cor-primaria);
}
.info_modal_img{
    position: relative;
    width: 100%;       /* 435px mais ou menos */
    height: 200px;
    overflow: hidden;
    background-color: var(--bg-color);
}
.info_modal_img > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.info_modal_descricao{
    width: 100%;
    padding: 30px 7px;
    text-indent: 7px;
    text-align: justify;
    margin-top: 5px;

    background-color: var(--white-t);
    color: black;

    flex: 1;

}
.info_modal_tolls{
    width: 100%;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;

    background-color: var(--white-t);
    color: black;
}
.info_modal_tolls > span{
    margin: 10px;
}



.info_modal_img > img.ativo{
    opacity: 1;
    transition: opacity 0.8s ease-in-out;          /*faz a animação de troca de imagem do card de info do projeto usando a opacidade*/
}
.card_imagem > img.ativo{
    opacity: 1;
    transition: opacity 0.8s ease-in-out;          /*faz a animação de troca de imagem do card de projeto usando a opacidade*/
}
.card_filtros.ativo {
    opacity: 1;                                 /*faz o card de filtro aparecer*/
    visibility: visible;
}
.info_projeto.ativo{
    opacity: 1;                                 /*faz o card de info do projeto aparecer*/
    visibility: visible;
}



/* CONTATO */

#contato{
    min-height: 80dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 25px 0px 30px 0px;
    margin-bottom: 0px;

    scroll-snap-align: start;

    color: var(--color2);

    background-color: var(--bg-color);
}
#contato > h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}
#email{
    width: 90%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    flex: 1;
}
#email > label{
    padding-top: 10px;
    color: var(--cor-secundaria);
    text-shadow: 0px 1px 0px var(--sombra);
    margin-bottom: 5px;
}
#email_nome{
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
    margin-bottom: 5px;
}
#email_email{
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
    margin-bottom: 5px;
}
#email_mensagem{
    flex: 1;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
    margin-bottom: 5px;
}
#btn_enviar{
    background-color: rgb(44, 187, 44);
    padding: 10px 0px;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1em;

    cursor: pointer;
}


/* ------- PARTE DO RODAPÉ: FOOTER E AS INFORMAÇÕES DELE -------*/
footer{
    min-height: 15dvh;      /*esta dando uma pequena folga no final com a rolagem colante, então se continuar assim depois de subir o site, altere esse valor para 14.6dvh. Não precisa alterar o do #contato*/

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: var(--cor-primaria);
    padding: 15px 0px;

    text-align: center;
    color: rgb(236, 236, 236);
}
footer > h2 {
    padding-bottom: 20px;
}
.footer_contato{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}
.footer_contato img{
    height: 5vh;
}