

/*CONFIGURAÇÕES GERAIS (all)*/

*{
    padding: 0px;
    margin: 0px;


    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;

}

/* ------- PARTE DA ENTRADA : FOTO E INFORMAÇÃO DE NOME E FUNÇÃO -------*/
header{
    height: 95vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;

    background-color: brown;

}
#header_hero{
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: space-between;

    background-color: blue;
}
#header_hero span{
    color: white;
} 
#foto_hero{
    width: 60%;
    height: 75%;
    margin-top: 50px;

    background-image: url(../Recursos/Gemini_Generated_Image_il7j7xil7j7xil7j.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#info_hero{
    width: 90%;
    height: 20%;
    margin-bottom: 50px;

    background-color: aqua;
    white-space: nowrap;
}
#info_hero h1 {
    text-align: left;
    font-weight: lighter;
    font-size: 2em ;
}
#info_hero h2 {
    text-align: end;
    font-size: 1.7em;
}


/* ------- PARTE DO CONTEUDO: NAVEGAÇÃO PELA PAGINA E PROJETOS --------*/
nav{
    height: 5vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: aqua;
}
main{
    background-color: yellow;
}
section{
    height: 95vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
}
section > h2{
    height: 10%;        /*  VOCE TEM 90% DA ALTURA DA TELA PARA TRABALHAR*/
    display: flex;
    justify-content: center;
    align-items: center;
}
section > div {
    width: 80%;
    height: 90%;
    border: 4px solid black;
}

/* PERFIL */

#perfil{
    background-color: blueviolet;
}

/* SKILLS E TOOLS*/

#skills_tools{
    background-color: blue;
}

/* PROJETOS */

#projetos{
    background-color: yellow;
}
.filtros{
    width: 80%;
    height: 5%;
    border: 4px solid black;
}
.lista_projetos{
    width: 80%;
    height: 85%;
    border: 4px solid black;
}

/* CONTATO */

#contato{
    height: 85vh;
    background-color: white;
}
#contato > p {
    height: 5%;
}

#email{
    width: 80%;
    height: 85%;
    border: 4px solid black;
}


/* ------- PARTE DO RODAPÉ: FOOTER E AS INFORMAÇÕES DELE -------*/
footer{
    height: 10vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;

    background-color: green;

    text-align: center;
}
footer > div{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}