

/*CONFIGURAÇÕES GERAIS (all)*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;

    scroll-snap-type: y mandatory;
    scroll-padding-top: clamp(48px, 5dvh, 70px);

}

/* ------- PARTE DA ENTRADA : FOTO E INFORMAÇÃO DE NOME E FUNÇÃO -------*/
header{
    height: 100dvh;  /* 866px de altura, no maximo*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: brown;

    scroll-snap-align: start;

}
#header_hero{
    width: 100%;    /*43px na media de altura*/    /*823*/

    display: flex;
    justify-content: space-between;

    padding: 15px 20px;
    background-color: blue;
}
#header_hero span{
    color: white;
} 
#info_hero{
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center ;
    align-items: center;

    flex: 1;
}
#foto_hero{
    width: clamp(200px, 60%, 400px);
    height: clamp(250px, 70%, 450px);
    margin-bottom: 50px;
}
#nome_hero {
    width: 90%;
    text-align: center;
}
#nome_hero h1 {
    font-weight: lighter;
    font-size: 2em;
    padding-bottom: 10px;
}
#nome_hero h2 {
    font-size: 1.7em;
}
nav{
    width: 100%; /*46pix de altura, no maximo*/
    height: clamp(48px, 5dvh, 70px);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 20px 0px;
    background-color: aqua;

}


/* ------- PARTE DO CONTEUDO: NAVEGAÇÃO PELA PAGINA E PROJETOS --------*/

main{
    background-color: yellow;
}
main > section{
    height: clamp(500px, 95dvh, 900px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    row-gap: 15px;
    padding-bottom: 50px;

    scroll-snap-align: start;

}
section > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

    font-size: 2em;
}

/* PERFIL */

#perfil{
    background-color: blueviolet;
}
.descricao_perfil{
    width: 90%;
    border: 3px solid black;
    border-radius: 13px;

    display: flex;
    flex-flow: column nowrap;

    flex: 1;
}
.descricao_texto{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    padding: 10px;
    row-gap: 10px;

    text-align: justify;
}
.descricao_img{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* SKILLS E TOOLS*/

#skills_tools{
    background-color: blue;
    overflow: hidden;         /* esconde os skills_cards que não estão na tela*/
}
.skills_carousel{
    width: 300%;              /* 100% para cada skills_card que voce tiver*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-self: start;

    flex: 1;
}
.skills_bolinhas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    background-color: green;
}
.skills_card {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 10px;

    background-color: brown;
}
.skills_card h3{
    padding: 25px 0px 25px 0px;
    font-size: 2em;
    background-color: blueviolet;
}
.skills_card p {
    text-align: center;
    padding: 20px 0px;
}
.skills_nivel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    padding: 20px 0px;
}
.skills_icons_container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    flex: 1;

    background-color: white;
}
.skills_icons{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: green;
}
.skills_icons div{
    width: 100%;
    padding: 10px;
    row-gap: 15px;
    column-gap: 20px;

    border-radius: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
}
.skills_icons img{
    height: clamp(50px,70px,100px);
}


/* PROJETOS */

#projetos{
    background-color: yellow;
    overflow: hidden;       /* esconde os .lista_projetos que não estão na tela*/
}
.btn_filtros{
    width: 80%;

    text-align: center;
    font-size: 1em;

    padding: 5px 0px;

    cursor: pointer;
}
.card_filtros {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px;
    z-index: 1000;               /*faz com que ele fique na frente até dos elementos definidos como absolute, por ter um z maior*/

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.container_filtros {
    background-color: blueviolet;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding: 10px;
    border-radius: 15px;
    transform: translateX(-7px);               /*não sei pq mas ta torto para a direita, então puxei 7px para a esquerda*/
}
.card_filtros_header{
    width: 100%;
    position: relative;
    text-align: center;

    padding: 10px 0px 15px 0px;
}
.card_filtros_header > button{
    position: absolute;
    top: 12px;
    right: 15px;
}
.card_filtros_descricao{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 7px 5px;
    row-gap: 10px;

    background-color: white;
}
.card_filtros_descricao > p:first-child{
    width: 100%;
}
.card_filtros_descricao > p {
    text-align: center;
}
.grupo_filtro{
    width: 100%;
    padding: 20px 0px 30px 0px;

    margin-top: 5px;

    background-color: white;
}
.grupo_filtro > h4{
    text-align: center;
    padding-bottom: 20px ;
}
.grupo_filtro > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px 10px;
    gap: 25px;
}
.btn_filtro_aplicar{
    width: 50%;
    padding: 7px;
    margin: 17px 0px 7px 0px;

    border: 0px;
    border-radius: 5px;

    cursor: pointer;
}


.container_projetos{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    flex: 1;
}
.filtros_usados{
    display: none;                     /*deixe um tempo depois faça sumir*/
    height: 0px;
    background-color: lightpink;
    padding: 2px 0px 2px 6px;
}
.filtros_usados.ativo {
    display: block;
    height: auto;
}
.carousel_projetos{
    width: 200%;                   /* responsavel pelo espaçamento para a rolagem das divs .lista_projetos */
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    background-color: blue;

    flex: 1;
}
.lista_projetos{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    row-gap: 15px;
}
.card_projeto{
    width: 450px;
    height: 300px ;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    overflow: hidden;
    border-radius: 20px;

    padding: 7px;
    background-color: blueviolet;
}
.card_titulo{
    width: 100%;
    position: relative;
}
.card_titulo >h3{
    width: 100%;
    text-align: center;
    padding: 0px 35px 6px 35px;
}
.card_titulo > img {
    position: absolute;
    padding: 0px 5px 6px 5px;
}
.card_imagem{
    position: relative;
    width: 100%;       /* 435px mais ou menos */
    height: 110px;
    overflow: hidden;
    background-color: #f0f0f0;
}
.card_imagem > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.card_btn{
    position: absolute;
    top: 0px;
    right: 2px;

    display: flex;
    flex-flow: column nowrap;
    align-items: end;

}
.card_btn_y{
    display: inline-flex;
    align-items: center;
    gap: 3px;

    margin-top: 5px;
    padding: 3px;

    text-decoration: none;

    border-radius: 5px;
    background-color: red;
    cursor: pointer;
}
.card_btn_i{
    display: inline-flex;
    align-items: center;

    margin-top: 10px;
    cursor: pointer;
}
.card_descricao{
    width: 100%;
    background-color: lightblue;
    text-align: justify;

    padding: 5px;
    flex: 1;
}
.card_tolls{
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background-color: lightgreen;

    padding: 5px;
    margin-top: 4px;
}
.card_tolls > span {
    background-color: lightcoral;
}
.projeto_bolinhas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    background-color: green;
}



.card_imagem > img.ativo{
    opacity: 1;
    transition: opacity 0.8s ease-in-out;          /*faz a animação de troca de imagem do card usando a opacidade*/
}
.card_filtros.ativo {
    opacity: 1;                                 /*faz o card_filtro aparecer*/
    visibility: visible;
}



/* CONTATO */

#contato{
    height: clamp(500px, 80dvh, 900px);
    background-color: blue;

    scroll-snap-align: start;
}
#contato > p {
    padding: 10px;
}

#email{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    row-gap: 6px;
    width: 90%;

    flex: 1;
}
#email > label{
    padding-top: 10px;
    color: green;
}
#email_nome{
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
}
#email_email{
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
}
#email_mensagem{
    flex: 1;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;

    border: 1px solid black;
}
#btn_enviar{
    background-color: rgb(44, 187, 44);
    padding: 10px 0px;
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 1em;

    cursor: pointer;
}


/* ------- PARTE DO RODAPÉ: FOOTER E AS INFORMAÇÕES DELE -------*/
footer{
    height: clamp(50px, 14.7dvh, 500px);      /*esta dando uma pequena folga no final com a rolagem colante, então se continuar assim depois de subir o site, altere esse valor para 14.6dvh. Não precisa alterar o do #contato*/

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: green;
    padding: 15px 0px;

    text-align: center;
}
footer > div{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}